* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #fff;
  color: #333;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
}

.container {
  width: 70%;
  margin: 0 auto;
  background-color: #f4f4f4;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 55px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: #fff 1px solid;
}

nav h1 {
  padding: 12px;
  font-size: 25px;
  background-color: #ff8700;
  color: #fff;
  cursor: pointer;
}

nav .sideway-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .sideway-bar li {
  padding: 0 10px;
}

nav .sideway-bar .new-btn {
  background: #999;
  color: #f4f4f4;
  border-radius: 20px;
  padding: 6px 15px 6px 15px;
  margin: 0 25px;
  cursor: pointer;
}

nav .sideway-bar .new-btn:hover {
  background: #777;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav .sideway-bar .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

nav .sideway-bar .profile h3 {
  font-size: 14px;
  font-weight: 300;
}

nav .sideway-bar .profile h3:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

nav .sideway-bar .avatar {
  background-color: #ff8700;
  padding: 5px;
  margin: 0 0 0 10px;
  border-radius: 20px;
  font-size: 12px;
}

.container-box {
  margin-top: 45px;
}

.container-box .list-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-box .list-category ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-box .list-category li {
  padding: 5px 18px;
  border-radius: 15px;
  margin: 0 2px;
  cursor: pointer;
}

.container-box .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
}

.container-box .row .carol {
  background-color: #f4f4f4;
  color: #333;
  text-align: center;
  border: #777 1px solid;
  border-radius: 7px;
}

.container-box .row .carol img {
  width: 200px;
}

.container-box .row .carol div {
  margin: 15px;
  margin-bottom: 20px;
}

.container-box .row .carol div p {
  margin-top: 5px;
  font-size: 12px;
}

.container-box .row .arw-left {
  margin-left: 30px;
}

.container-box .row .arw-left img {
  width: 18px;
}

.container-box .row .arw-right {
  margin-right: 30px;
}

.container-box .row .arw-right img {
  width: 18px;
}

.container-box .vw-more {
  text-align: center;
  margin: 50px 0;
}

.container-box .vw-more .btn {
  font-size: 14px;
  padding: 10px 30px;
  background-color: #ff8700;
  border-radius: 20px;
  color: #f4f4f4;
  border-style: none;
  cursor: pointer;
}

.container-box .vw-more .btn:hover {
  background-color: #ff8700;
}

#body-height {
  height: 500px;
}

.i-clicked {
  background-color: #ff8700;
  color: #fff;
}

@media (max-width: 767px) {
  .container {
    width: 100%;
  }
  .container-box {
    margin-top: 15px;
  }
  .container-box .list-category ul {
    display: block;
    text-align: center;
  }
  .container-box .list-category li {
    margin-top: 10px;
  }
  .container-box .row {
    margin-top: 15px;
    display: block;
  }
  .container-box .row .carol {
    margin: 10px auto;
    width: 252px;
    border-radius: 10px;
  }
  .container-box .row .carol img {
    width: 250px;
  }
  .container-box .row .arw-left {
    display: none;
  }
  .container-box .row .arw-right {
    display: none;
  }
  .container-box .vw-more {
    margin: 25px 0;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .container {
    width: 100%;
  }
  .container-box {
    margin-top: 35px;
  }
  .container-box .list-category ul {
    text-align: center;
  }
  .container-box .list-category li {
    margin-top: 10px;
  }
  .container-box .row {
    margin-top: 30px;
  }
  .container-box .row .carol {
    margin: 10px auto;
  }
  .container-box .row .carol img {
    width: 200px;
  }
  .container-box .row .arw-left {
    margin-left: 60px;
  }
  .container-box .row .arw-right {
    margin-right: 60px;
  }
  .container-box .vw-more {
    margin: 25px 0;
  }
}
